@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0f172a;
  --background: #f0fdf4;
  --card: #ffffff;
  --accent: #059669;
  --accent-hover: #047857;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "rlig" 1, "calt" 1;
}

.Toastify__toast-container {
  z-index: 9999;
}
